body {
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(227,227,247,1) 0%, rgba(165,183,242,1) 96%);
}

.head-section, .foot-section {
    height: 80px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: left;
    border: solid #040936 2px;
}

.head-section > span{
    margin: 10px 25px 10px 25px;
    font-size: larger;
}

.foot-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.elements-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.elements-list > div {
    margin: 2em;
}

.git-logo {
    width: 75px;
    height: auto;
    color: white;
}

.field-logo {
    width: 8em;
    height: auto;
}

.foot-section > p {
    color: white;
    font-weight: bolder;
    width: 200px;
    text-align: center;
}

a {
    color: white;
    font-weight: bolder;

}

.air-logo {
    width: 75px;
    height: auto;
    margin: 10px;
}

img {
    width: 500px;
    height: auto;
}

.about-section {
    height: 35em;
    width: auto;
}

#map {
    width: 100%;
    height: 600px;
    box-shadow: 5px 5px 5px #888;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.legend {
    text-align: center;
    line-height: 1px;
    width: 80%;
    color: black;
    font-weight: bolder;
    background-color: #687ede;
    font-size: medium;
}

.legend_scale {
    display: flex;
    align-items: center;
}

.legend_scale > span {
    margin: 10px;
}