<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../Style/style.css">
    <title>About</title>
</head>
<body>
    <header>
        <div class="head-section">
        <img class="air-logo" src="https://icon-library.com/images/air-element-icon/air-element-icon-21.jpg" alt="aire-logo">
        <span><a href="./index.html">Home</a></span>
        <span><a href="./map.html">Map</a></span>
        <span><a href="./about.html">About</a></span>
        </div>
    </header>
</body>
</html>