<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="../Style/style.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <div class="head-section">
        <img
          class="air-logo"
          src="https://icon-library.com/images/air-element-icon/air-element-icon-21.jpg"
          alt="aire-logo"
        />
        <span><a href="./index.html">Home</a></span>
        <span><a href="./map.html">Map</a></span>
      </div>
    </header>
    <section class="about">
      <h1 class="title">
        Air Detect<br />
        <span> Cuidando el Aire que respiramos </span>
      </h1>
      <div class="about_info">
        <p>
          AirDetect es una plataforma web utilizada para analizar la calidad del
          aire en las diferentes zonas del país, y ya que esta información varía
          cada año, el objetivo es hacer predicciones de cómo se encontrará
          dicha información durante los siguientes años, con el fin de analizar
          las zonas en donde el aire ha ido empeorando o mejorando su calidad, y
          poderlo relacionar con posibles causantes y/o productores de dicha
          contaminación ambiental.
        </p>
      </div>
    </section>
    <section class="main_sections">
      <div class="consists">
        <div class="content">
          <h2>¿En qué consiste la Calidad del Aire?</h2>
          <p>
            De acuerdo a la Organización Mundial de la Salud (OMS), los
            contaminantes climáticos de vida corta, como el carbono negro, son
            poderosos forzadores del clima con posibles consecuencias negativas
            sobre el calentamiento global y su impacto en la salud. Todas las
            personas pueden estar expuestas a la contaminación del aire. Sin
            embargo, se perciben grandes diferencias entre grupos de población y
            localidades geográficas. Se define la inmisión o calidad del aire
            como la concentración de contaminante que llega a un receptor, más o
            menos lejano de la fuente de emisión, una vez transportado y
            difundido por la atmósfera. La capacidad de la atmósfera para diluir
            las concentraciones de contaminantes es fundamental para preservar
            una buena calidad del aire, y esto va a venir marcado principalmente
            por las condiciones meteorológicas.
          </p>
        </div>
      </div>

      <div class="importance">
        <div class="content">
          <h2>¿Por qué es importante conocer la Calidad del Aire?</h2>
          <p>
            El deterioro de la calidad del aire por la presencia de sustancias
            contaminantes tiene un efecto negativo en la salud humana y del
            medio ambiente. Los contaminantes como es el caso las partículas
            suspendidas están asociados además con una mayor cantidad de
            reincidencia a las salas de urgencia y con casos de mortandad. Una
            manera de proteger la salud de la población es a través del
            monitoreo y la difusión continuos del estado de la calidad del aire.
            El índice de calidad del aire es un indicador diseñado para informar
            a la población sobre el estado de la calidad del aire, muestra qué
            tan contaminado se encuentra el aire y cuáles podrían ser los
            efectos en la salud.
          </p>
        </div>
      </div>
    </section>

    <section class="elements_container">
      <h2>Elementos a Analizar</h2>
      <div class="elements-list">
        <div class="card">
          <img class="field-logo" src="../Static/Images/ozone.jpg" alt="" />
          <h3>Nivel de Ozono</h3>
          <p>
            El ozono a nivel del suelo puede agravar las enfermedades
            respiratorias existentes y también provocar irritación de garganta,
            dolores de cabeza y dolor de pecho. Puede ocurrir efectos más graves
            en personas sensibles, niños y adultos que realizan actividades al
            aire libre, como dificultad para respirar, opresión en el pecho,
            tos, respiración sibilante, irritación de los ojos o la garganta.
          </p>
        </div>
        <div class="card">
          <img class="field-logo" src="../Static/Images/particles.png" alt="" />
          <h3>Partículas Finas</h3>
          <p>
            Las partículas finas son partículas contaminantes inhalables con un
            diámetro inferior a 2,5 micrómetros que pueden entrar en los
            pulmones y en el torrente sanguíneo y provocar graves problemas de
            salud. Afectan de forma más grave a los pulmones y al corazón. La
            exposición a estas partículas puede provocar tos o dificultad para
            respirar, agravar el asma y desarrollar enfermedades respiratorias
            crónicas.
          </p>
        </div>
        <div class="card">
          <img class="field-logo" src="../Static/Images/atom.jpg" alt="" />
          <h3>Materia Particulada</h3>
          <p>
            La materia particulada está formada por partículas contaminantes
            inhalables con un diámetro inferior a 10 micrómetros. Las partículas
            de más de 2,5 micrómetros pueden depositarse en las vías
            respiratorias y provocar problemas de salud. La exposición puede
            provocar irritación de ojos y garganta, tos, dificultad para
            respirar y puede agravar el asma. Una exposición más frecuente y
            excesiva puede tener efectos más graves para la salud.
          </p>
        </div>
        <div class="card">
          <img class="field-logo" src="../Static/Images/carbono.png" alt="" />
          <h3>Monóxido de Carbono</h3>
          <p>
            El monóxido de carbono es un gas incoloro e inodoro y, cuando se
            inhala en altos niveles, puede causar dolor de cabeza, náuseas,
            mareos y vómitos. La exposición prolongada a largo plazo puede
            provocar enfermedades cardíacas. El CO se encuentra en el humo de la
            combustión, como lo es el expulsado por automóviles y camiones,
            candelabros, estufas, fogones de gas y sistemas de calefacción.
          </p>
        </div>
      </div>
    </section>
    <footer>
      <div class="foot-section">
        <a href="https://github.com/JaimeSerrano15/SV-AirDetect" target="_blank"
          ><img class="git-logo" src="../Static/Images/github-logo.png" alt=""
        /></a>
        <p>
          Si quieres conocer más sobre el proyecto, te invitamos a echarle un
          vistazo al Repositorio.
        </p>
      </div>
    </footer>
  </body>
</html>
