<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="../Style/style.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <div class="head-section">
        <img
          class="air-logo"
          src="https://icon-library.com/images/air-element-icon/air-element-icon-21.jpg"
          alt="aire-logo"
        />
        <span><a href="./index.html">Home</a></span>
        <span><a href="./map.html">Map</a></span>
        <span><a href="./about.html">About</a></span>
      </div>
    </header>
    <section class="about">
      <h1 class="title">Air Detect<br> 
        <span>
          Cuidando el Aire que respiramos
        </span> 
      </h1>
      <div class="about_info">
        <p>
          AirDetect es una plataforma web utilizada para analizar la calidad del
          aire en las diferentes zonas del país, y ya que esta información varía
          cada año, el objetivo es hacer predicciones de cómo se encontrará
          dicha información durante los siguientes años, con el fin de analizar
          las zonas en donde el aire ha ido empeorando o mejorando su calidad, y
          poderlo relacionar con posibles causantes y/o productores de dicha
          contaminación ambiental.
        </p>
      </div>
    </section>
    <section class="main_sections">
      <div class="consists">
        <div class="content">
          <h2>¿En qué consiste la Calidad del Aire?</h2>
          <p>
            De acuerdo a la Organización Mundial de la Salud (OMS), los
            contaminantes climáticos de vida corta, como el carbono negro, son
            poderosos forzadores del clima con posibles consecuencias negativas
            sobre el calentamiento global y su impacto en la salud. Todas las
            personas pueden estar expuestas a la contaminación del aire. Sin
            embargo, se perciben grandes diferencias entre grupos de población y
            localidades geográficas. Se define la inmisión o calidad del aire como
            la concentración de contaminante que llega a un receptor, más o menos
            lejano de la fuente de emisión, una vez transportado y difundido por
            la atmósfera. La capacidad de la atmósfera para diluir las
            concentraciones de contaminantes es fundamental para preservar una
            buena calidad del aire, y esto va a venir marcado principalmente por
            las condiciones meteorológicas.
          </p>
        </div>
      </div>
      
     
      <div class="importance">
        <div class="content">
          <h2>¿Por qué es importante conocer la Calidad del Aire?</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            laudantium nostrum ex! Inventore autem corrupti animi quisquam aliquam
            est magnam labore soluta sunt, officiis cumque quod perspiciatis
            deleniti suscipit ratione ex ad sed perferendis reprehenderit!
            Perspiciatis aliquid quia cumque dolorum. Ducimus nemo nesciunt
            consequatur odio quis minus natus, enim, esse labore, id incidunt
            numquam unde accusamus similique. Rerum doloremque similique, pariatur
            ad animi officia eius dolorum ab corrupti ipsam odio voluptates quo
            praesentium velit ratione commodi maxime fugiat alias eum rem! Debitis
            est rerum, at assumenda fuga sequi quas similique odit, quisquam,
            alias voluptate quis quos eveniet earum nisi ullam.
          </p>
        </div>
      </div>
    </section>
  
    <section class="elements_container">
      <h2>Elementos a Analizar</h2>
      <div class="elements-list">
        <div class="card">
          <img class="field-logo" src="../Static/Images/ozone.jpg" alt="" />
          <h3>Nivel de Ozono</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            dolorum tempora corrupti explicabo debitis nostrum quo, illum error
            eius ducimus?
          </p>
        </div>
        <div class="card">
          <img class="field-logo" src="../Static/Images/particles.png" alt="" />
          <h3>Partículas Finas</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            dolorum tempora corrupti explicabo debitis nostrum quo, illum error
            eius ducimus?
          </p>
        </div>
        <div class="card">
          <img class="field-logo" src="../Static/Images/atom.jpg" alt="" />
          <h3>Materia Particulada</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            dolorum tempora corrupti explicabo debitis nostrum quo, illum error
            eius ducimus?
          </p>
        </div>
        <div class="card">
          <img class="field-logo" src="../Static/Images/carbono.png" alt="" />
          <h3>Monóxido de Carbono</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            dolorum tempora corrupti explicabo debitis nostrum quo, illum error
            eius ducimus?
          </p>
        </div>
      </div>
    </section>
    <footer>
      <div class="foot-section">
        <a href="https://github.com/JaimeSerrano15/SV-AirDetect" target="_blank"
          ><img class="git-logo" src="../Static/Images/github-logo.png" alt=""
        /></a>
        <p>
          Si quieres conocer más sobre el proyecto, te invitamos a echarle un
          vistazo al Repositorio.
        </p>
      </div>
    </footer>
  </body>
</html>
