<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin=""/>
    <link rel="stylesheet" href="../Style/style.css">
    <link rel="stylesheet" href="../Style/L.Control.Layers.Tree.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
</head>
<body>
    <header>
        <div class="head-section">
        <img class="air-logo" src="../Static/Images/logo.png" alt="aire-logo">
        <span><a href="./index.html">Home</a></span>
        <span><a href="./map.html">Map</a></span>
        </div>
    </header>
    <div id="map"></div>
    <div>
        <div class="chartCard">
            <div class="chartBox">
              <canvas id="myChart"></canvas>
              <select id="selected-year" onchange="updateYear()">
                <option value="year_2018">2018</option>
                <option value="year_2019">2019</option>
                <option value="year_2020">2020</option>
                <option value="year_2021">2021</option>
                <option value="year_2022">2022</option>
              </select>
            </div>
        </div>
    </div>

    <script src="../javascripts/L.Control.Layers.Tree.js"></script>
    <script src="../javascripts/departamente.js"></script>
    <script src="../javascripts/MainMap.js"></script>
    <script src="../javascripts/chartMethod.js"></script>
</body>
</html>